.polygon-top {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-align: left;
    font-family: "Times New Roman";
    font-size: larger;
}
body {
    width: 1000px;
    margin: 0 auto;
    background-color: #98d8fe;
    padding: 0 20px 20px 20px;
    border: 5px #fff;
}
h2, h3 {
    margin: 0;
    color: #9f3b96;
    font-family: "Times New Roman";
}
a {text-decoration: none;}
a:link{
    font-family: "Times New Roman";
    font-size: medium;
    color: #2408fc;
}
a:visited{
    font-family: "Times New Roman";
    font-size: medium;
    color: #2408fc;
}
a:hover{
    font-family: "Times New Roman";
    font-size: medium;
    color: #ff86fa;
    text-decoration: underline;
}
a:active{
    font-family: "Times New Roman";
    font-size: medium;
    color: #ff86fa;
}
.subabout {
    margin: 0;
    color: #040404;
    background-color: #fcfbfd;
    font-family: "Times New Roman";
    border: 2px solid #040404;
    padding: 10px 20px 10px 20px;
    text-align: left;
}
th {
    width: 450px;
    font-family: "Times New Roman";
    font-size: 14px;
    text-align: center;
    background-color: white;
    color: #040404;
    padding: 10px 10px;
    border: 1px solid #040404;
}
.abscissa-usually, .ordinate-usually,
.abscissa-fmp, .ordinate-fmp, .applicate-fmp,
.abscissa-implicity, .ordinate-implicity, .applicate-implicity,
.abscissa-parametr, .ordinate-parametr {
    font-family: "Times New Roman";
    margin: 0;
    background-color: #9cfdee;
    border: 1px solid rgba(36, 8, 252, 1);
    padding: 10px 20px 10px 20px;
    text-align: left;
    font-size: 14px;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 5px #4a79f2;
    color: #040404;
}
#usually, #fmp, #polar, #implicity, #parametr {
    font-family: "Times New Roman";
    margin: 0;
    background-color: #9cfdee;
    border: 1px solid rgba(36, 8, 252, 1);
    padding: 10px 20px 10px 20px;
    text-align: left;
    font-size: 14px;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 5px #4a79f2;
    color: #040404;
    display: none;
}
#usually:target{display: block;}
#fmp:target{display: block;}
#polar:target{display: block;}
#implicity:target{display: block;}
#parametr:target{display: block;}
